# http://EditorConfig.org

# C Sharp styles
[*.cs]

# Additional StyleCop Analyzer rules for M31.FluentApi.Generator
#

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# SA1204: Static members should appear before non-static members
dotnet_diagnostic.SA1204.severity = none